body {
  background-color: #000000;
}

h1 {
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
}

.bg-dark {
  background-color: #000000;
}

.nav-title {
  float: left;
}

.carousel {
  width: 600px;
  height: 600px;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1 a:hover, h1 a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer {
  padding-top: 1.5em;
  margin-bottom: 1em;
}

.footer h2 {
  color: #FFFFFF;
  font-size: 0.5em;
}
